# SPDX-FileCopyrightText: 2025 Robin Vobruba <hoijui.quaero@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

[submodule "tests/data"]
	path = tests/data
	url = https://github.com/elevont/ttl-test-data.git
